/*Formatear estilos del navegador*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #fff;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
/*Etiquetas globales*/
a { 
    cursor: pointer;
}
.sprite { /*IMAGEN DE WIKIPEDIA CON TODOS LOS BACKGROUND*/
    background-image: linear-gradient(transparent,transparent),url(https://www.wikipedia.org/portal/wikipedia.org/assets/img/sprite-e99844f6.svg);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

/*=================================================================CONTENEDOR HEADER*/
header {
    width: 100%;
    height: 60px; 
    margin-top: 60px;
    text-align: center;
}
header figure {
    margin: 0 auto;
    margin-bottom: 5px;
}
header figure img {
    width: 180px;
}
header span {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}
/*====================================================================CONTENEDOR MAIN*/
main {
    margin-top: 40px;
    text-align: center;
}
/*---------------------------------------------------SECCION 1 - IDIOMAS*/
main .section1 .section1__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 20px; /*Separación entre recuadros*/
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 1%;
}
.section1__main .section1__main--item a{
    color: #36c;
    font-weight: 700; /*grosor de la letra*/
    text-decoration: none;
}
.section1__main .section1__main--item a:hover{
    text-decoration: underline;
}
.section1__main .section1__main--item small {
    font-size: 1.3rem;
    margin-top: 10px;
    color: rgb(94, 94, 94);
}
.section1__main .section1__main--item:hover {
    background-color: #f1f1f1;
}
.section1__main .section1__main--item {
    width: 38%;
}
.section1 .section1__main .Español {
    grid-column: 2/3; /*Posición del div*/
    grid-row: 1;
    margin-left: 50%;
}
.section1 .section1__main .Japones {
    grid-column: 2/3;
    grid-row: 2;
    margin-left: 38%;
}
.section1 .section1__main .Aleman {
    grid-column: 2/3;
    grid-row: 3;
    margin-left: 35%;
}
.section1 .section1__main .Chino {
    grid-column: 2/3;
    grid-row: 4;
    margin-left: 38%;
}
.section1 .section1__main .Polaco {
    grid-column: 2/3;
    grid-row: 5;
    margin-left: 50%;
}
.section1 .section1__main .Ingles {
    grid-column: 3/4;
    grid-row: 1;   
    margin-left: 10%;
}
.section1 .section1__main .Ruso {
    grid-column: 3/4;
    grid-row: 2;
    margin-left: 23%;
}
.section1 .section1__main .Frances {
    grid-column: 3/4;
    grid-row: 3;
    margin-left: 27%;
}
.section1 .section1__main .Italiano {
    grid-column: 3/4;
    grid-row: 4;
    margin-left: 23%;
}
.section1 .section1__main .Portugues {
    grid-column: 3/4;
    grid-row: 5;
    margin-left: 10%;
}
/*IMAGEN*/
.section1 .section1__main .section1__main--logo {
    grid-column: 2/4;
    grid-row: 1/6;
    margin: 3% auto; /* Vertical | Horizontal */
    width: 210px;
}
.section1__main--logo figure img{
    width: 200px;
    margin-top: 45px;
}

/*---------------------------------------------------SECCION 1 - BARRA DE BUSQUEDA*/
main .section1 .section1__search {
    float: none;
    max-width: 95%;
    width: 540px;
    margin: .4rem auto 1.95rem; /*top right_left bottom;*/
    text-align: center;
    vertical-align: middle; /*Alinea el centro del elemento con el centro de las letras minúsculas del elemento primario.*/
}
.section1__search .section1__search--form fieldset {
    word-spacing: -4px; /*establece la longitud del espacio entre palabras y entre etiquetas.*/
    margin: 0;
    padding: 0.56rem 0 1.2rem;
    border: 0;
}
.section1__search .section1__search--form .search-input {
    display: inline-block;
    position: relative;
    width: 80%;
    vertical-align: top;
    background-color: #fff;
}
.section1__search .section1__search--form input {
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #a2a9b1;
    box-shadow: inset 0 0 0 1px #fff; /* inset | offset-x | offset-y | blur-radius | spread-radius | color */
    vertical-align: middle;
}
.section1__search--form input:focus {
    outline:0;
    border: 2px solid #36c;
}
/*ID del input*/
#searchInput {
    width: 80%;
    height: 4.4rem;
    padding: .8rem 1.5rem .8rem 1.2rem;
    font-size: 1.6rem;
}
.section1__search .section1__search--form .search-button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #a2a9b1;
    vertical-align: top;
    background-color: #36c;
    border-color: #36c;
    color: #fff;
}
.section1__search--form .search-input button {
    min-height: 4.4rem;
    border-radius: 0 2px 2px 0;
    padding: 0.8rem 1.6rem;
}
.search-input .search-button .search-icon {
    background-position: 0 -697px;
    width: 22px;
    height: 22px;
}
.section1 .section1__button button {
    position: relative;
    z-index: 1; /*Posición relativa por arriba de otro objeto*/
    padding: 0.6rem 1.2rem;
    outline: 1.6rem solid #fff;
    border: 1px solid #a2a9b1;
    border-radius: 2px;
    color: #36c;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
}
.section1 .section1__button button:hover {
    background-color: #fff;
    border-color: #a2a9b1;
}
.section1 .section1__button .languge-icon {/*ICONO DE IDIOMA*/
    background-position: 0 -617px;
    width: 22px;
    height: 22px;
}
.section1 .section1__button .arrow-dowm {/*ICONO FLECHA AZUL*/
    background-position: 0 -527px;
    width: 14px;
    height: 14px;
}
.section1 .section1__button .button-text {
    padding: 0 0.64rem;
    vertical-align: middle;
}
.section1 .line-border {
    background-color: #c8ccd1;
    display: block;
    position: relative;
    max-width: 460px;
    width: 80%;
    margin: -1.6rem auto 1.6rem;
    height: 1px;
}
main .section1 .line-top {
    background-color: #c8ccd1;
    display: block;
    position: center;
    width: 95%;
    margin-top: 50px;
    margin-left: 10px;
    height: 1px;
}
/*---------------------------------------------------SECCION 2 - OPCIONES*/
main .section2 {
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    padding: 4.16rem 1.28rem 1.28rem;
    font-size: 1.3rem;
}
.section2 a {
    text-decoration: none;
    color: #36c;
}
main .section2 .section2__sidebar {
    width: 35%;
    float: left;
    clear: left;
    margin-bottom: 3.2rem;
    vertical-align: top;
}
.section2 .section2__sidebar .section2__sidebar--content {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
}
.section2 .wikiapp .section2__sidebar--content {
    background-color: #f8f9fa;
}
.section2__sidebar .section2__sidebar--content .img-posicion {
    position: absolute;
    top: 0;
    left: .8rem;
}
.section2__sidebar .section2__sidebar--content .img-wikimedia {
    background-position: 0 -212px;
    width: 42px;
    height: 42px;
}
.section2__sidebar .section2__sidebar--content .section2__sidebar--text {
    position: relative;
    margin: 0;
    padding-left: 6rem;
    padding-right: 2rem;
    color: #54595d;
    text-align: start;
}
.wikiapp .section2__sidebar--content .section2__sidebar--text {
    padding-top: .8rem;
    padding-bottom: .8rem;
}
.wikiapp .section2__sidebar--content .img-apss {
    background-position: 0 -719px;
    width: 42px;
    height: 42px;
}
.wikiapp .section2__sidebar--content .img-posicion {
    top: 0.8rem;
}
.wikiapp .section2__sidebar--content strong {
    font-weight: 700;
}
.wikiapp .section2__sidebar--content p {
    margin-top: 7px;
    margin-bottom: 10px;
}
.wikiapp .section2__sidebar--content ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.wikiapp .section2__sidebar--content ul li {
    display: inline-block;
}
.section2__sidebar--content .section2__sidebar--text .link-dona:hover {
    text-decoration: underline;
}
main .section2 .section2__options {
    display: inline-block;
    width: 65%;
}
.section2 .section2__options .section2__options--item {
    float: left;
    position: relative;
    width: 33%;
    height: 9rem;
}
.section2__options .section2__options--item .link-item{
    /*display: flex;*/
    display: flex;
    min-height: 50px;
    width: 90%;
    padding: 1em;
}
.section2__options .section2__options--item:hover {
    background-color: #f1f1f1;
}
.section2__options .section2__options--item .img-container {
    display: inline-block;
    width: 50px;
    text-align: center;
    margin: 3px;
}
.section2__options .section2__options--item .txt-item {
    max-width: 65%;
    font-size: 1.4rem;
    vertical-align: middle;
    white-space: normal;
    text-align: start;
}
.section2__options--item .txt-item .text-item {
    display: block;
    color: #54595d;
    font-size: 1.3rem;;
}
.section2__options--item .img-container .img-commons {
    background-position: 0 0;
    width: 47px;
    height: 47px;
}
.section2__options--item .img-container .img-wikiviajes {
    background-position: 0 -446px;
    width: 36px;
    height: 36px;
}
.section2__options--item .img-container .img-wikicionario {
    background-position: 0 -482px;
    width: 37px;
    height: 37px;
}
.section2__options--item .img-container .img-wikilibros {
    background-position: 0 -126px;
    width: 37px;
    height: 37px;
}
.section2__options--item .img-container .img-wikinoticias {
    background-image: url(https://www.wikipedia.org/portal/wikipedia.org/assets/img/Wikinews-logo_sister@2x.png);
    background-position: 0 0;
    background-size: 47px 26px;
    width: 47px;
    height: 26px;
}
.section2__options--item .img-container .img-wikidata {
    background-position: 0 -163px;
    width: 49px;
    height: 49px;
}
.section2__options--item .img-container .img-wikiversidad {
    background-position: 0 -409px;
    width: 43px;
    height: 37px;
}
.section2__options--item .img-container .img-wikiquote {
    background-position: 0 -286px;
    width: 42px;
    height: 42px;
}
.section2__options--item .img-container .img-mediawiki {
    background-position: 0 -47px;
    width: 42px;
    height: 42px;
}
.section2__options--item .img-container .img-wikisource {
    background-position: 0 -328px;
    width: 39px;
    height: 39px;
}
.section2__options--item .img-container .img-wikispecias {
    background-position: 0 -367px;
    width: 42px;
    height: 42px;
}
.section2__options--item .img-container .img-metawiki {
    background-position: 0 -89px;
    width: 37px;
    height: 37px;
}
.wikiapp .section2__sidebar--content .googleplay {
    background-position: 0 -541px;
    width: 124px;
    height: 38px;
}
.wikiapp .section2__sidebar--content .appstore {
    background-position: 0 -579px;
    width: 110px;
    height: 38px;
}
/*===================================================================CONTENEDOR FOOTER*/
footer .line-footer {
    background-color: #c8ccd1;
    display: block;
    position: center;
    width: 95%;
    margin-top: 50px;
    margin-left: 10px;
    height: 1px;
}
footer {
    width: 100%;
    height: 50px;
}
footer p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    font-size: 1.3rem;
    color: #54595d;
    text-align: center;
}
footer p a {
    outline: 0;
    color: #36c;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}
footer p a:hover {
    text-decoration: underline;
}

@media (max-width: 958px) {
    .section2__options .section2__options--item .link-item{
        padding: 0px;
    }
    .section1 .section1__main {
        height: auto ;
    }
    .section1 .section1__main .Español{
        grid-column: 1/3;
        margin-left: 10%;
        width: auto;
    }
    .section1 .section1__main .Japones{
        grid-column: 1/3;
        margin-left: 0px;
        margin-right: 10%;
        width: auto;
    }
    .section1 .section1__main .Aleman{
        grid-column: 1/3;
        margin-left: 0px;
        margin-right: 20%;
        width: auto;
    }
    .section1 .section1__main .Chino{
        grid-column: 1/3;
        margin-left: 0px;
        margin-right: 10%;
        width: auto;
    }
    .section1 .section1__main .Polaco{
        grid-column: 1/3;
        margin-left: 10%;
        width: auto;
    }
    .section1 .section1__main .Ingles{
        grid-column: 3/5;
        margin-left: 0px;
        margin-right: 10%;
        width: auto;
    }
    .section1 .section1__main .Ruso{
        grid-column: 3/5;
        margin-left: 10%;
        width: auto;
    }
    .section1 .section1__main .Frances{
        grid-column: 3/5;
        margin-left: 15%;
        width: auto;
    }
    .section1 .section1__main .Italiano{
        grid-column: 3/5;
        margin-left: 10%;
        width: auto;
    }
    .section1 .section1__main .Portugues{
        grid-column: 3/5;
        margin-left: 0px; 
        margin-right: 10%;
        width: auto;
    }
}

@media (max-width: 750px) {
    main .section2 .section2__sidebar {width: 100%;}
    .section2 .section2__sidebar .section2__sidebar--content{
        margin: 0px;
        max-width: 100%;
    }
    .section2__sidebar .section2__sidebar--content .section2__sidebar--text{
        text-align: center;
        padding: 0;
    }
    .section2__sidebar .section2__sidebar--content .img-posicion{
        position: relative;
        margin-bottom: 10px;
    }
    .section2__sidebar .section2__sidebar--content .img-apss{margin-right: 10px;}
    main .section2 .section2__options{
        width: 100%;
        margin-bottom: 100px;
        display: grid;
        grid-template-columns: repeat(
            auto-fill, minmax(200px, 1fr));
        justify-content: center;
        align-items: center;
    }
    .section2 .section2__options .section2__options--item {width: 100%;}
    main .section2 .wikiapp{
        position: absolute;
        top: 167%;
        right: 0;
    }
    main .section1 .section1__main{display: block;}
    .section1 .section1__main .Español{margin: 0;}
    .section1 .section1__main .Japones{margin: 0;}
    .section1 .section1__main .Aleman{margin: 0;}
    .section1 .section1__main .Chino{margin: 0;}
    .section1 .section1__main .Polaco{margin: 0;}
    .section1 .section1__main .Ingles{ margin: 0;}
    .section1 .section1__main .Ruso{    margin: 0;}
    .section1 .section1__main .Frances{ margin: 0;}
    .section1 .section1__main .Italiano{ margin: 0;}
    .section1 .section1__main .Portugues{margin: 0;}
    main .section1 .section1__main .section1__main--logo{
        position: absolute;
        top:4px;
        left: 25%;
        width: 55px;
        margin: 0;
    }
    .section1 .section1__main .section1__main--logo img{width: 55px;}
}

@media (max-width: 600px){
    header figure img {width: 130px;}
    header figure {margin: 0 ;}
    header span {font-size: 12px;}
    main .section1 .section1__main .section1__main--logo{
        top: 10px;
        left: 15%;
    }
    .section1 .section1__main .section1__main--logo img{
        width: 55px;
    }
    #searchInput {height: 3.5rem;}
    .section1__search--form .search-input button {
        min-height: 3.5rem;
        padding: 0rem 0.6rem;
    }
    main .section2 .section2__options{
       display: grid;
       grid-template-columns: repeat(
        auto-fill, minmax(150px, 1fr));
    }
    main .section2 .wikiapp{top: calc(100% + 100%);}
    footer {margin-top: 100px;}
}